
@import url('https://fonts.googleapis.com/css?family=Roboto');

@font-face {
    font-family: "Mindline Script Demo";
    src: url('Mindline Script Demo.ttf');
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 1.1rem;
    background-color: rgb(139, 153, 165);
}

section, .container {
    padding-top: 0vh;
}

nav {
    margin: 0 auto;
    display: flex;
}

.nav {
    margin: 0 auto;
    padding: 45px;
    display: flex;
}

.nav-tabs {
    border: none;
}

.nav-item {
    color: rgba(82,82,82,.7);
    font-size: 16px;
    margin: 18px;
}

#nav-home .row, #nav-wedding-party .row {
    margin-bottom: 50px;
}

.heading-primary {
    display: block;
    color: #ffffff;
    font-family: "Mindline Script Demo", monospace;
    font-size: 7rem;
    font-weight: 600;
    letter-spacing: 1rem;
}

.col-3 {
    padding-bottom: 75px;
}

@media screen and (min-width: 1400px) {
    .heading-primary  {
        font-size: 10rem;
    }
  }
  @media screen and (min-width: 1600px) {
    .heading-primary  {
        font-size: 12rem;
    }
  }
  @media screen and (min-width: 1900px) {
    .heading-primary  {
        font-size: 15rem;
    }
  }