
@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
    font-family: 'Roboto', sans-serif;
    font-size: 1.1rem;
}

section, .container {
    padding-top: 15vh;
}

#greeting > h3 {
    font-weight: bold;
}

nav {
    margin: 0 auto;
    width: 1000px;
    display: flex;
}

.nav {
    margin: 0 auto;
    padding: 45px;
    display: flex;
}

.nav-tabs {
    border: none;
}
.nav-item {
    color: rgba(82,82,82,.7);
    font-size: 16px;
    margin: 18px;
}

#nav-profile-tab {
    font-size: 48px;
    color: #000;
    font-weight: 700;
    text-decoration: none;
}

#nav-profile-tab a:hover {
    text-decoration: none;
}

#nav-work-tab, #nav-about-tab {
    line-height: 68px;
    text-transform: uppercase;
}

#avatar {
    height: 325px;
    display: block;
    margin: 0 auto;
}

#about span {
    font-size: 14px;
    color: grey;
}